.section1-home{
  padding-top: 150px;
  padding-bottom: 80px;
  h1{
    font-size: 57px;
    line-height: 1.1;
    font-weight: 300;
    margin-bottom: .5rem;
    color: #1b3c59;
    span{
      font-weight: 500;
    }
  }
  p{
    margin-top: 40px;
    color: #1b3c59;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1rem;
    span{
      font-weight: 500;
    }
  }
  ul{
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 1rem;
    li{
      display: list-item;
      color: #1b3c59;
      font-size: 19px;
      font-weight: 300;
      line-height: 1.5;
      span{
        font-weight: 400;
      }
    }
  }
  .container-left{
    img{
      max-width: 90%;
    }
  }
  .container-right{
    display: none;
    img{
      display: none;
      max-width: 90%;
    }
  }
  @media screen and (min-width: 992px){
    .container-left{
      img{
        max-width: 90%;
        display: none;
      }
    }
    .container-right{
      display: block;
      img{
        display: block;
        max-width: 90%;
      }
    }
  }
  @media screen and (max-width: 992px){
    h1{
      font-size: 40px;
    }
    p{
      font-size: 18px;
    }
    ul{
      li{
        font-size: 17px;
      }
    }
  }
}

.section2-home{
  padding: 40px 0;
  background: #1b3c59;
  .container-data{
    text-align: center;
    flex-basis: 100%;
    @media screen and (min-width: 992px){
      flex-basis: 25%;
    }
    h3{
      color: white;
      font-size: 49.5px;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    p{
      color: white;
      font-size: 19px;
      font-weight: 300;
      margin-bottom: 1rem;
    }
  }
}

.section3-home{
  padding: 30px 0;
  h4{
    color: #8e8e8e;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: .5rem;
    display: block;
  }
  .companies{
    margin: 20px 0;
    width: 100%;
    .companies-image{
      flex-basis: 33.33%;
      img{
        max-width: 100%;
        @media screen and(min-width: 992px){
          max-width: 250px;
        }
      }
    }
  }
  .companies-bottom{
    .companies-image{
      text-align: right;
    }
  }
}

.section1-faq{
  padding-top: 130px;
  padding-bottom: 50px;
  text-align: left;
  h1{
    font-weight: 400;
    font-size: 44px;
    padding: 0 80px;
    margin-bottom: .5rem;
    color: #1b3c59;
  }
  p{
    color: #1b3c59;
    padding: 0 80px;
    font-size: 18px;
    margin-bottom: 1rem;
    a{
      color: #1b3c59;
      text-decoration: underline
    }
  }
}

.section2-faq{
  h2{
    padding: 0 80px;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 30px;
  }
  .container-flex{
    align-items: initial;
  }
  .container-left{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background: #e8ebf1;
    h2{
      color: #1b3c59;
    }
    .container-faq{
      margin: 40px 0;
      padding: 0 80px;
      color: #1b3c59;
      h3{
        font-weight: 400;
        font-size: 24px;
        margin-bottom: .5rem;
        i{
          float: right;
          cursor: pointer;
          &.fa-minus{
            display: none;
          }
        }
      }
      p{
        line-height: 30px;
        font-size: 18px;
        display: none;
      }
    }
  }
  .container-right{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background: #1b3c59;
    h2{
      color: white;
    }
    .container-faq{
      margin: 40px 0;
      padding: 0 80px;
      color: white;
      h3{
        font-weight: 400;
        font-size: 24px;
        margin-bottom: .5rem;
        i{
          float: right;
          cursor: pointer;
          &.fa-minus{
            display: none;
          }
        }
      }
      p{
        line-height: 30px;
        font-size: 18px;
        display: none;
      }
    }
  }
}
